---
import BaseLayout from '@layouts/BaseLayout.astro';

const { title = 'Sketch', description = '' } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <slot />
  <main id="sketch-canvas"></main>
</BaseLayout>
